@import url(/ppt/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&family=Josefin+Sans&display=swap');
body{
    font-family: 'Edu NSW ACT Foundation', cursive;
}

body{
    width: 100vw;
}

.conteiner{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    border: double 2px transparent;
    border-radius: 10px;
    background-image:
        linear-gradient(#03070c, #051d3a),
        linear-gradient(to right, #a07f9b, #281dc4);
        background-origin: border-box;
        background-clip: content-box, border-box;

}

h1{
    padding: 2rem;
    font-weight: 700;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 2rem;
    background: linear-gradient(rgb(39, 23, 250),rgb(158, 143, 187));
    -webkit-background-clip: text;
    color: transparent;  
}
h2{
    padding: 2rem;
    font-size: 1.2rem;
}

.container_group {
   display: flex;
}


button{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 20px;
    background-color:#0f3e96;
    border-color: #1561be;
    margin: 1rem    ;
}

p{
    font-size: 2rem;
}

#tablero{
    font-size: 2.2rem;
    background: linear-gradient(rgb(39, 23, 250),rgb(158, 143, 187));
    -webkit-background-clip: text;
    color: transparent;  
}


#elecciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}